/****************MEDIUM SIZED SCREENS*****************/

@media (max-width: 53em) /* 848px */ {
  .page01 {
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: (2, 1fr);
    justify-items: center;
  }

  /********************Main Story**********************/
  .main-story {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .main-story-content {
    flex-direction: column;
  }

  .main-story-content h1 {
    text-align: start;
  }

  .main-story-content2 {
    display: flex;
    align-items: center;
    gap: 10rem;
    margin-top: 2rem;
  }
  .main-story-content2 p {
    width: 50%;
    margin-left: 0;
  }
  .button {
    margin-left: 0;
    margin-top: 0;
  }

  /********************New Stories**********************/

  .new-stories {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    margin-top: 2rem;
  }

  /********************Top Stories**********************/
  .top-stories {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 2rem;
  }

  .top-stories ul {
    flex-direction: column;
  }
}

/****************SMALL SIZED SCREENS*****************/

@media (max-width: 39em) /* 624px */ {
  .page01 {
    display: block;
  }

  .menu-open-btn {
    display: block;
  }

  .mobile-menu-closed {
    position: absolute;
    transform: translateX(+100%);
    right: 0;
    top: 0;
    padding: 2.5rem;
    flex-direction: column;
    background-color: white;
    width: 65vw;
    height: 100vh;
    transition: transform 1s ease-in-out;
  }

  .mobile-menu-open {
    transform: translateX(0);
  }

  .menu-close-btn {
    width: fit-content;
    align-self: end;
  }

  .main-story-content h1 {
    padding-left: 0;
    font-size: 4rem;
  }

  .main-story-content2 {
    display: block;
    margin-top: 2rem;
    padding-right: 0;
  }
  .main-story-content2 p {
    width: 100%;
    margin-bottom: 3rem;
  }
  .new-stories {
    width: 100%;
    margin-top: 6rem;
  }

  .top-stories {
    margin-top: 6rem;
  }
}
