* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

.page-container {
  margin: 0 auto;
  max-width: 144rem;
}

header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
