:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --gray-blue: hsl(233, 8%, 79%);
  --dark-gray-blue: hsl(236, 13%, 42%);
  --vdark-gray-blue: hsl(240, 100%, 5%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

.page-container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 108rem;
}

header {
  height: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 3.5rem;
  padding: 0;
  list-style: none;
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--dark-gray-blue);
}

.page01 {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-template-rows: (5, 1fr);
}
.main-story {
  grid-column: 1/2;
  grid-row: 1/4;
}
.main-img {
  max-width: 100%;
}
.main-story-content {
  display: flex;
}

.main-story-content h1 {
  font-size: 5rem;
}

.new-stories {
  grid-column: 2/3;
  grid-row: 1/4;
}

.top-stories {
  grid-column: 1/3;
  grid-row: 4/5;
}

.top-stories ul {
  display: flex;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
